@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/img/background.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100%; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 80%;
  margin: 0 auto; }

.nav-wrapper {
  width: 100%;
  height: 70px;
  background: grey;
  font-family: Verdana, sans-serif; }
  .nav-wrapper .nav-container {
    height: 70px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
  .nav-wrapper .logo {
    height: 70px;
    text-decoration: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row; }
    .nav-wrapper .logo .navbar-icon {
      height: 70px;
      margin-left: 10px; }
    .nav-wrapper .logo p {
      margin-left: 10px;
      color: black;
      line-height: 70px;
      font-size: 2em;
      text-transform: uppercase; }
  .nav-wrapper .right {
    float: right;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row; }
    .nav-wrapper .right li {
      text-align: center;
      width: 100px;
      list-style: none;
      line-height: 70px; }
      .nav-wrapper .right li .navlink {
        display: block;
        text-decoration: none;
        color: black; }
        .nav-wrapper .right li .navlink:hover {
          background: #9e9e9e;
          cursor: pointer; }
    .nav-wrapper .right .user-button {
      background: #ffc6c6; }

.dashboard-row {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .dashboard-row__col1 {
    min-height: 500px; }
    .dashboard-row__col1 .project-list {
      margin-top: 25px; }
      .dashboard-row__col1 .project-list > * {
        text-decoration: none; }
      .dashboard-row__col1 .project-list .card-content {
        background: lightblue;
        margin-bottom: 35px; }
        .dashboard-row__col1 .project-list .card-content .card-title {
          text-align: center;
          color: black;
          font-size: 1.5em;
          font-family: "Sawarabi Mincho", sans-serif;
          text-transform: uppercase;
          line-height: 65px;
          background: rgba(128, 128, 128, 0.15); }
        .dashboard-row__col1 .project-list .card-content .svg-container {
          position: relative;
          width: 50px;
          margin: 10px auto;
          border: 1px solid red; }
        .dashboard-row__col1 .project-list .card-content .card-footer {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          padding: 5px 10px;
          background: rgba(0, 0, 0, 0.15); }
          .dashboard-row__col1 .project-list .card-content .card-footer .card-para {
            text-align: left;
            color: black;
            font-size: 1.00em;
            font-family: "Sawarabi Mincho", sans-serif;
            justify-self: left;
            align-self: center;
            grid-column: 1 / 2; }
          .dashboard-row__col1 .project-list .card-content .card-footer .text-date {
            grid-column: 2 / 4;
            justify-self: center;
            align-self: center;
            font-size: 0.80em;
            color: grey;
            font-family: Verdana, sans-serif; }
  .dashboard-row__col2 .author-container {
    background: goldenrod;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin-top: 25px;
    padding: 25px 0; }
    .dashboard-row__col2 .author-container__name {
      text-align: center; }
    .dashboard-row__col2 .author-container__page {
      text-align: center;
      margin-top: 30px; }
    .dashboard-row__col2 .author-container__desc {
      text-align: center;
      padding: 0 45px;
      margin-top: 10px; }

.svg1-edit,
.svg2-edit,
.svg3-edit {
  width: 50px;
  display: block; }

.svg-icons {
  width: 50px; }

.police-helmet {
  width: 100px; }

.all-svg-container {
  display: none; }

.completed {
  width: 200px;
  height: 200px;
  border: 1px solid black; }

.completed .helmets > *,
.completed .torsos > *,
.completed .legs > * {
  width: 50px;
  height: 50px;
  border: 1px solid red; }

.hero-accessories .input-field input {
  visibility: hidden;
  display: none; }

.hero-accessories .input-field label {
  width: 50px;
  height: 50px; }
  .hero-accessories .input-field label img {
    width: 100%;
    height: 100%; }

.create-project-container .hero-details {
  font-family: Verdana, sans-serif; }
  .create-project-container .hero-details h5 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 25px; }
  .create-project-container .hero-details .input-field {
    text-align: center;
    display: block; }
    .create-project-container .hero-details .input-field .input-title-text {
      display: block; }
    .create-project-container .hero-details .input-field .input-title-textfield {
      display: block;
      width: 300px;
      height: 50px;
      margin: 0 auto;
      font-size: 2.25em;
      background: rgba(255, 0, 0, 0.185); }
    .create-project-container .hero-details .input-field .textfield {
      height: 100px;
      font-size: 1.6em; }

.create-project-container .hero-accessories {
  font-family: Verdana, sans-serif; }
  .create-project-container .hero-accessories p {
    text-align: center;
    margin-top: 15px; }
  .create-project-container .hero-accessories .input-field {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center; }

.create-project-container .input-field-submit {
  width: 175px;
  margin: 0 auto;
  height: 30px; }
  .create-project-container .input-field-submit button {
    width: 100%;
    height: 100%; }
