.create-project-container{
  
  .hero-details{
    font-family: Verdana, sans-serif;
    h5{
      font-family: $ff-raleway;
      text-align: center;
      font-size: 2em;
      margin: 25px 0;
    }
    input, textarea{
      font-family: Verdana, sans-serif;
      display: block;
      margin: 5px auto;
      background: rgb(72, 228, 51);
      border: 2px solid rgb(21, 180, 0);
      border-radius: 5px;
      padding: 5px;
      font-size: 1.15em;

      &:focus{
        background: rgb(79, 253, 55);
        box-shadow: 0px 3px 10px 0px rgba(163,163,163,1);
        border: 2px solid #a5cda5;
        color: green;
      }
      &::placeholder{
        color: rgba(0, 0, 0, 0.404);
      }

    }
    .input-name{
      width: 300px;
      height: 45px;
    }
      // .input-title-text{
      //   display: block;
      // }
    .input-textfield{
      color: black;
      width: 300px;
      height: 80px;
      
    }
  }

  .hero-accessories{
    
    
    
    p{
      text-align: center;
      margin-top: 15px;
      margin-bottom: 5px;
      font-family: $ff-raleway;
      font-weight: 900;
      &::before{
        content: '';
        display: block;
        margin: 0 auto;
        width: 50%;
        height: 1px;
        background: black;
      }
    }
    p:nth-child(1){
      margin-top: 45px;
    }
   

    .input-field{
      display: flex;
      justify-content: center;

      .item{
        
        
      
      }
    }  
    
  }
  .input-field-submit{
    
    width: 175px;
    margin: 5px auto;
    height: 50px;
    button{
      width: 100%;
      height: 100%;
      color: white;
      text-transform: uppercase;
      font-size: 1.05em;
      font-family: $ff-sm;
      background: green;
      border: 2px solid white;
      &:disabled{
        color: black;
        background: red;
        border: 1px solid black;
      }
      &:hover{
        cursor: pointer;
      }
    }
  }

  // preview bottom box
  .completed{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 60px auto 0 auto;
  }
  .completed {
    text-align: center;
    
    .helmets,
    .torsos,
    .legs{
      &>*{
      width: 50px;
      height: 50px;
      //border: 1px solid red;
    }
    p{
      text-align: center;
      text-transform: uppercase;
    }
    }
  }

}