body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url(/img/background.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


*, *::before, *::after{
  box-sizing: border-box;
  margin: 0; padding: 0;
}
// Typography
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
$ff-sm: 'Sawarabi Mincho', sans-serif;

.container{
  width: 80%;
  margin: 0 auto;
}

