// navbar.js + SignedInLinks.js + SignedOutLinks.js

.logo{
  color: black;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 70px;
}
.nav-wrapper{
  width: 100%;
  height: 70px;
  background: grey;
}
.right{
  float: right;
  display: flex;
  flex-direction: row;
}
.right li{
  text-align: center;
  width: 100px;
  list-style: none;
  line-height: 70px;
}
.right li .navlink{
  display: block;
  text-decoration: none;
  color: black;
}
.right li .navlink:hover{
  background: rgb(158, 158, 158);
}
.user-button{
  background: rgb(255, 198, 198);
}