
.svg1-edit,
.svg2-edit,
.svg3-edit{
  width: 50px;
  display: block;
}

.svg-icons{
  width: 50px;
  &:hover{
    cursor: pointer;
    background: rgba(128, 128, 128, 0.4);
  }
}

.police-helmet{
  width: 100px;
}


.all-svg-container{
  display: none;
}



.hero-accessories .input-field{
  input{
    visibility: hidden;
    display: none;
  }

  label{
    width: 50px;
    height: 50px;
    img{
      width: 100%;
      height: 100%;
    }
  }
}